<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HRMS API List </title>
</head>

<body>
<h1>Backend API list || <h3>Developed by Md.Tajal Islam</h3></h1>
<h3>Human Resource Management System</h3>
<hr>

<h1>Users Module</h1>
</body>
</html>